[stepper_x]
step_pin: PC2
dir_pin: !PB9
enable_pin: !PC3
microsteps: 32
rotation_distance: 72
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: 229
position_min: -5
position_max: 229
homing_speed: 36
homing_retract_dist:0

[tmc2209 stepper_x]
uart_pin:PA9
interpolate: True
run_current:1.5
hold_current:1.0
sense_resistor: 0.100
stealthchop_threshold: 0
uart_address:3
diag_pin: ^PB12
# driver_IHOLDDELAY: 8
# driver_TPOWERDOWN: 20
# driver_TBL: 1
# driver_TOFF: 1
# driver_HEND: 0
# driver_HSTRT: 7
driver_SGTHRS: 65

[stepper_y]
step_pin: PB8
dir_pin: !PB7
enable_pin: !PC3
microsteps: 32
rotation_distance: 72
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: -0.5
position_min: -0.5
position_max: 226
homing_speed: 36
homing_retract_dist:0

[tmc2209 stepper_y]
uart_pin:PA10
interpolate: True
run_current:1.5
hold_current:1.0
sense_resistor: 0.100
stealthchop_threshold: 0
uart_address:3
diag_pin: ^PB13
# driver_IHOLDDELAY: 8
# driver_TPOWERDOWN: 20
# driver_TBL: 1
# driver_TOFF: 1
# driver_HEND: 0
# driver_HSTRT: 7
driver_SGTHRS: 65

[stepper_z]
step_pin: PB6
dir_pin: !PB5
enable_pin: !PC3
microsteps: 16
rotation_distance:8
gear_ratio: 64:20
endstop_pin: tmc2209_stepper_z:virtual_endstop# PA15   #probe:z_virtual_endstop
position_endstop: 0
position_max: 255
position_min: -5

[tmc2209 stepper_z]
uart_pin: PA11
uart_address: 3
run_current: 0.8
diag_pin: ^PB14
stealthchop_threshold: 0
sense_resistor: 0.100
# driver_IHOLDDELAY: 8
# driver_TPOWERDOWN: 20
# driver_TBL: 1
# driver_TOFF: 1
# driver_HEND: 2
# driver_HSTRT: 2
driver_SGTHRS: 0