
[include addons/mcu.cfg]
[include addons/stepper.cfg]
[include addons/extruder.cfg]
[include addons/heater_bed.cfg]
[include addons/bed_leveling.cfg]
[include addons/adxl.cfg]
[include addons/led.cfg]
[include addons/chamber.cfg]
[include addons/fans.cfg]

[include addons/sensorless.cfg]
[include addons/gcode_macro.cfg]
[include addons/printer_params.cfg]

[bl24c16f]
i2c_mcu: sbc
i2c_bus: i2c.2
i2c_speed: 400000

[idle_timeout]
timeout: 99999999

[virtual_sdcard]
path: /usr/data/printer_data/gcodes

[gcode_arcs]
resolution: 1.0

[prtouch]
z_gap_00:0.03
z_gap_01:0.03
z_gap_10:-0.03
z_gap_11:-0.03

[filter]
hft_hz: 1
lft_k1: 0.95
lft_k1_oft: 0.95
lft_k1_cal: 0.95

[dirzctl]
use_mcu: mcu
step_base: 2

[display_status]

[printer]
kinematics: corexy
max_velocity: 1000
max_accel: 20000
max_accel_to_decel: 10000
max_z_velocity: 20
square_corner_velocity: 5.0
max_z_accel: 300

[pause_resume]

[input_shaper]
shaper_type_x = zv
shaper_freq_x = 64.8
shaper_type_y = zv
shaper_freq_y = 52.2

# X suggested max_accel <= 16400 mm/sec^2
# Y suggested max_accel <= 10600 mm/sec^2

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*#
#*# [prtouch default]
#*# z_gap_00 = 0.081
#*# z_gap_01 = 0.054
#*# z_gap_11 = 0.03780000000000001
#*# z_gap_10 = 0.07199999999999998
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.748514, 0.613047, 0.515181, 0.421400, 0.379083
#*# 	  0.452623, 0.369021, 0.287083, 0.164269, 0.075785
#*# 	  0.275184, 0.146266, 0.057345, -0.031555, -0.160515
#*# 	  0.046293, -0.044662, -0.155242, -0.259279, -0.375567
#*# 	  -0.052686, -0.193099, -0.311432, -0.378314, -0.423122
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 5.0
#*# max_x = 215.0
#*# min_y = 5.0
#*# max_y = 215.0
